<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="18.6" />
  <package id="7zip.commandline" version="16.02.0.20170209" />
  <package id="7zip.install" version="18.6" />
  <package id="7zip.portable" version="18.5" />
  <package id="autohotkey.portable" version="1.1.30.01" />
  <package id="azure-cli" version="2.0.52" />
  <package id="chocolatey" version="0.10.11" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.3" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="ConEmu" version="18.6.26.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnet4.7.1" version="4.7.2558.0" />
  <package id="git" version="2.20.1" />
  <package id="git-credential-manager-for-windows" version="1.18.3" />
  <package id="git.install" version="2.20.1" />
  <package id="golang" version="1.11.4" />
  <package id="GoogleJapaneseInput" version="1.3.24.20141007" />
  <package id="gpg4win-vanilla" version="2.3.4.20170919" />
  <package id="heroku-cli" version="7.19.4.0" />
  <package id="hyper" version="2.1.0" />
  <package id="intellijidea-ultimate" version="2018.3.2" />
  <package id="irfanview" version="4.52" />
  <package id="jq" version="1.5" />
  <package id="junction" version="1.07" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.4" />
  <package id="KB3035131" version="1.0.2" />
  <package id="kubernetes-cli" version="1.13.1" />
  <package id="kubernetes-helm" version="2.12.1" />
  <package id="launchy" version="2.5.0.20140301" />
  <package id="launchy-beta" version="2.6.2.1" />
  <package id="minikube" version="0.32.0" />
  <package id="minishift" version="1.29.0" />
  <package id="mysql.workbench" version="8.0.13.20181109" />
  <package id="ngrok.portable" version="2.0.1" />
  <package id="nodejs.install" version="11.6.0" />
  <package id="packer" version="1.3.3.20181213" />
  <package id="packer-windows-plugins" version="1.0.0" />
  <package id="pandoc" version="2.5" />
  <package id="peco" version="0.5.1" />
  <package id="procexp" version="16.22" />
  <package id="putty" version="0.70.0.20171219" />
  <package id="putty.portable" version="0.70.0.20171219" />
  <package id="python" version="3.7.2" />
  <package id="python3" version="3.7.2" />
  <package id="rsync" version="5.7.1.20180411" />
  <package id="ruby" version="2.6.0.1" />
  <package id="ruby2.devkit" version="4.7.2.2013022403" />
  <package id="terraform" version="0.11.11" />
  <package id="thunderbird" version="60.4.0" />
  <package id="tortoisesvn" version="1.11.0.28416" />
  <package id="vagrant" version="2.2.2" />
  <package id="vault" version="0.10.0" />
  <package id="vcredist140" version="14.16.27012.6" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27012.6" />
  <package id="vcxsrv" version="1.20.1.4" />
  <package id="vscode" version="1.30.1" />
  <package id="winmerge" version="2.16.0.20190101" />
  <package id="WinPcap" version="4.1.3.20161116" />
  <package id="winscp" version="5.13.6" />
  <package id="winscp.install" version="5.13.6" />
  <package id="xmlstarlet" version="1.6.1" />
  <package id="xmlstarlet.portable" version="1.6.1" />
  <package id="zip" version="3.0" />
</packages>