<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="18.5.0.20180730" />
  <package id="7zip.commandline" version="16.02.0.20170209" />
  <package id="7zip.install" version="18.5.0.20180730" />
  <package id="7zip.portable" version="18.5" />
  <package id="anaconda3" version="5.3.0" />
  <package id="atlassian-plugin-sdk" version="5.0.13" />
  <package id="autohotkey.portable" version="1.1.30.00" />
  <package id="azure-cli" version="2.0.47" />
  <package id="chocolatey" version="0.10.11" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-fosshub.extension" version="0.6.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.2" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="ConEmu" version="18.6.26.0" />
  <package id="dep" version="0.5.0" />
  <package id="docker" version="18.06.1" />
  <package id="docker-compose" version="1.22.0" />
  <package id="docker-machine" version="0.15.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="gcloudsdk" version="0.0.0.20171229" />
  <package id="git" version="2.19.1" />
  <package id="git.install" version="2.19.1" />
  <package id="golang" version="1.11.1" />
  <package id="GoogleJapaneseInput" version="1.3.24.20141007" />
  <package id="gpg4win-vanilla" version="2.3.4.20170919" />
  <package id="heroku-cli" version="7.17.2.0" />
  <package id="hipchat" version="4.30.3.1665" />
  <package id="intellijidea-ultimate" version="2018.2.5" />
  <package id="irfanview" version="4.51" />
  <package id="jq" version="1.5" />
  <package id="junction" version="1.07" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20170509" />
  <package id="KB3033929" version="1.0.3" />
  <package id="KB3035131" version="1.0.1" />
  <package id="kindle" version="1.21.48017" />
  <package id="kubernetes-cli" version="1.12.1" />
  <package id="kubernetes-helm" version="2.11.0" />
  <package id="kubernetes-kompose" version="1.16.0" />
  <package id="launchy" version="2.5.0.20140301" />
  <package id="launchy-beta" version="2.6.2.1" />
  <package id="minikube" version="0.30.0" />
  <package id="msys2-installer" version="20161025.0.0" />
  <package id="mysql.workbench" version="6.3.8" />
  <package id="ngrok" version="2.0" />
  <package id="ngrok.portable" version="2.0.1" />
  <package id="nodist" version="0.8.8" />
  <package id="packer" version="1.3.1" />
  <package id="packer-windows-plugins" version="1.0.0" />
  <package id="pandoc" version="2.3.1" />
  <package id="pdftk" version="2.02" />
  <package id="peco" version="0.5.1" />
  <package id="procexp" version="16.21.0.20170716" />
  <package id="pt" version="2.2.0" />
  <package id="putty" version="0.70.0.20171219" />
  <package id="putty.portable" version="0.70.0.20171219" />
  <package id="python" version="3.6.5" />
  <package id="python2" version="2.7.15" />
  <package id="python3" version="3.6.5" />
  <package id="rsync" version="5.7.1.20180411" />
  <package id="ruby" version="2.5.1.2" />
  <package id="ruby2.devkit" version="4.7.2.2013022402" />
  <package id="terraform" version="0.11.8" />
  <package id="thunderbird" version="60.2.1" />
  <package id="tortoisesvn" version="1.10.1.28295" />
  <package id="vagrant" version="2.2.0" />
  <package id="vault" version="0.10.0" />
  <package id="vcredist140" version="14.12.25810" />
  <package id="vcredist2013" version="12.0.40660.20180427" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.12.25810" />
  <package id="virtualbox" version="5.2.20" />
  <package id="visualstudiocode" version="1.23.1.20180730" />
  <package id="vscode" version="1.28.1" />
  <package id="winmerge" version="2.14.0.20170224" />
  <package id="WinPcap" version="4.1.3.20161116" />
  <package id="winscp" version="5.13.4" />
  <package id="winscp.install" version="5.13.4" />
  <package id="xmlstarlet" version="1.6.1" />
  <package id="xmlstarlet.portable" version="1.6.1" />
  <package id="zip" version="3.0" />
</packages>